body{
    background-color: black;
    color: white;
    font-family: Arial;
}

h1{
    text-align: center;
    color: red;
}
img{
    width: 300px;
    display: block;
    margin: auto;
}
h2{
    color: blue;
    text-align: center;
}
ul{
    width: 250px;
    margin: auto;
}
p{
    text-align: center;
}

img{
    border-radius: 10px;
}

h1{
    background-color: darkred;
    padding: 15px;
}